<!DOCTYPE html>
<html>
    <head>
        <title>Sofia Shahreki Mojahed</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Sofia Shahreki Mojahed</a></h1>
        </header>
        {% for post in posts %}
        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>I am an enthusiastic programmer with the base of biotechnology and also I have passionate to improve my knowledge in the field of Back-end and AI to develope the science.</p>
        </article>
        {% endfor %}
        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">Introduction</a></h2>
            <p>I am an enthusiastic programmer with the base of biotechnology and also I have passionate to improve my knowledge in the field of Back-end and AI to develope the science.</p>
        </article>
    </body>
</html>